DMX_PORT=/dev/ttyUSB0
DMX_BACKEND=serial
DMX_OUTSIDE_PAR_FIXTURES=1,9,25,33
DMX_OUTSIDE_LIGHTBARS=17
DMX_INSIDE_FIXTURES=
LCD_I2C_ADDRESS=0x27
LCD_I2C_EXPANDER=PCF8574
LCD_I2C_PORT=1
DMX_CHANNEL_MASTER=1
DMX_CHANNEL_RED=2
DMX_CHANNEL_GREEN=3
DMX_CHANNEL_BLUE=4
DMX_CHANNEL_STROBE=5
